In [15]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder

In [16]:
df=pd.read_csv("data.csv")    #read csv file

In [17]:
inputs=df.drop(columns=['Buys'])      # here get input columns from file
outputs=df['Buys']                    #here get output columns from file

In [18]:
le = LabelEncoder()          # create instance of label encoder

In [19]:
inputs['Income_Encoded']=le.fit_transform(inputs['Income'])                #encode Income Column
inputs['Gender_Encoded']=le.fit_transform(inputs['Gender'])                #encode Gender Column
inputs['MarialStatus_Encoded']=le.fit_transform(inputs['Marial Status'])   #encode Marial Status Column

In [20]:
inputs = inputs.drop(columns=['ID','Income','Gender','Marial Status'])     #drop the un-encoded columns and ID
inputs

    Age  Income_Encoded  Gender_Encoded  MarialStatus_Encoded
0    20               0               1                     1
1    18               0               1                     0
2    25               0               1                     1
3    36               2               1                     1
4    40               1               0                     1
5    39               1               0                     0
6    30               1               0                     0
7    16               2               1                     1
8    19               1               0                     0
9    45               2               0                     1
10   15               2               0                     0
11   33               2               1                     0
12   22               0               0                     1
13   66               2               1                     0

In [21]:
model=DecisionTreeClassifier()          # create decision tree model
model.fit(inputs,outputs)               #assign input output data to model

DecisionTreeClassifier()

In [22]:
model.score(inputs,outputs)

1.0

In [23]:
prediction=model.predict([[22,0,0,1]])   # we areprdiction for different input
prediction

array(['yes'], dtype=object)